*{
    margin: 0;
    padding: 0;
}
.letter{
    color: rgb(255, 251, 11);
    font-size: 500%;
    text-align: center;
}
body{
    background: url(./lowpoly.png);
}
.gif{
    border-radius: 25%;
}
.mini_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
}